body {
  margin: 0;
  padding-top: 50px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background: #151515;
  color: #999;
  overflow-y: auto;
}

#title {
  font-size: 6vw;
  text-align: center;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(20vh);
}

#warContainer {
  margin: 3rem 50px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.arrow {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

#yearSlider {
  width: 95%;
  color: #999;
}

#yearLabel {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.7rem;
}

#my-canvas {
  padding-top: 30%;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.ticks {
  background-color: blue;
}
